header {
height:100px;
border-style:solid;
text-align:center;
margin-bottom:20px;
}
section {
border-style:solid;
text-align: center;
width:49%;
float:left;
height:500px;
}
aside {
border-style:solid;
text-align: center;
width:45%;
float:right;
height:400px;
padding:40px;

}
